dialog {
  width: 100%;
  max-width: 580px;
  height: min-content;
  background-color: var(--white);
  border-radius: var(--dialog-border-radius);
  padding: 80px 40px;
  box-shadow: var(--dialog-box-shadow);
  border: none;
  user-select: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog::-webkit-scrollbar{
  display: none;
}

@media (max-width: 700px) {
  dialog {
    min-width: 100%;
    min-height: 100%;
    border-radius: 0;
    padding: 1rem;
    margin: 0;
    top: 0;
    overflow: auto;
    overscroll-behavior: contain;
  }

  dialog::backdrop {
    background-color: transparent;
  }
}
