.label-blue {
  color: var(--blue-200);
  background-color: var(--blue-160);
  border-radius: 6px;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 600;
  width: fit-content;
  box-sizing: border-box;
}

.link-blue {
  color: var(--blue-200);
  text-decoration: underline;
}

.info-label-green,
.info-label-red,
.info-label-yellow {
  border-radius: 12px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  width: fit-content;
  box-sizing: border-box;
}

.info-label-red {
  color: var(--white);
  background-color: var(--red);
}
.info-label-yellow {
  color: var(--white);
  background-color: var(--yellow);
}
.info-label-green {
  color: var(--white);
  background-color: var(--green);
}

@media (max-width: 600px) {
  .label-blue {
    font-size: 12px;
  }
  .info-label-green,
  .info-label-red,
  .info-label-yellow {
    font-size: 12px;
  }
}
